:root {
  --light: #d3fccd;
  --lime: #78f845;
  --mint: #8bf899;
  --grass: #008031;
}

body {
  background-color: var(--light);
  color: var(--grass);
  font-family: Arial, Helvetica, sans-serif;
}

.highscores{
    font-size: 110%;
    left: 20px;
    top: 20px
}
.timer{
    font-size: 200%;
    position: absolute;
    top: 15px;
    right: 15px;
    margin-bottom: 15px;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}

main h1{
    font-size: 400%;
}

#startbutton{
    text-align: center;
}
#start{
    font-size: 200%;
    font-weight: bold;
    background-color: var(--mint);
    color: var(--grass);
    border-radius: 50%;
    border: none;
    width: 100%;
}
#start:hover{
    background-color: var(--lime);
}
#question{
    font-size: 150%;
    margin: 15px;
}

#options {
    display: flex;
    flex-direction: column;
}
#options button{
    font-size: 120%;
    background-color: var(--mint);
    color: var(--grass);
    border: none;
    margin: 2px;
}

#options button:hover{
    background-color: var(--lime);
}